<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analyzer</title>
</head>
<body>
    <h1>Welcom to Text Analyzer ... </h1>
    <h3>Pleasre Enter your text below in the text-area if you want to analyze it ...</h3>
    <form action="/clean", method="get">
        <textarea name="text" placeholder="Enter your text here" style="width: 1459px; height: 264px;"></textarea><br>
        <button type="submit">Analyze text</button>
    </form>
</body>
</html>